
$lato-font: 'Lato', sans-serif;

// colors
$orange: #f26522;
$border-color: #bcd1d7;
$sea-wave_color: #007b81;

// typograph colors
$dots-grey: #a3bbbc;
$text-grey: #4d4d4d;
$price-grey: #87a6ad;
$title-color: #242424;
$title-string: #9eb7bc;

// html font-size
$html-fz: 16px;
$html-fz-clear: 16; // for function in mixins

// GRID
$lg: 1200px;
$md: 978px;
$sm: 768px;
$xs: 560px;
